<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{{artist_img}}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{artist}}</h5>
        <a href="/album/{{artist_id}}" class="btn btn-primary">View Albums</a>
    </div>
</div>